/* .countries {
    display: flex;
} */
.flagImg{
    width: 30px;
    height: 25px;
    padding-left: 5px;
}

.span{
    font-size: medium ;
    font-weight: bold;
    color:hsla(244, 72%, 25%, 1) ;
    /* background-color: hsla(244, 72%, 25%, 0.15); */
}

.actDet {
    border: 1px solid black;
    width: 25%;
    margin: 10px;
    border-radius: 2px;
    box-shadow:inset 0px 1px 0px 0px #383838;
    background-color: hsla(244, 72%, 25%, 0.15);
    border: 2px solid hsla(244, 72%, 25%, 0.25);   
    border-radius: 5px;
	border-radius:6px;
	font-size:16px;
	
	
	
	text-shadow:0px 1px 0px #969696;
}
.countries {
    display: flex;
    align-items: center;
    justify-content: center;    
}
a{
    text-decoration: none;
}
