.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-top: 2px solid rgb(121, 112, 150);
    border-bottom: 2px solid rgb(121, 112, 150);
}

.flag{
    height: 60px;
    width: 100px;
    margin: 20%;
    opacity: 50%;
}

.flag:hover {
    width: 120px;
    opacity: 100%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 125px;
    
}