.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.flag{
    max-height: 60px;
    width: 100px;
    margin: 20%;
    opacity: 50%;
}

.flag:hover {
    width: 110px;
    opacity: 100%;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 125px;
    
}