/* 
.msg {
    color: red;
 font-size: 50px;
 position: absolute
 
} */

.err {
    width: 100%;
    height: 80%;
    z-index: -1;
}

.msg {
    /* size: 100px; */
    position: absolute;
    font-size: 50px;
    color: black;
    background-color: crimson;
    z-index: 1;
    margin: 15% 35%;
}
