.countries-ctn{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.input-text {
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 25px;
}

.country {
    margin: 50%;
}
.selectHome {
    display: flex;
    justify-content: center;
    /* margin-left: 25% */
    
}
.selectOrder, .selectRegion, .selectPopulation, .selectCountry{
    width: 15%;
    margin-left: 5px;
    /* margin-right: auto; */
}