.countriesCtn{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin: 1%;
}

.inputText {
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 25px;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.btn {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    width: 120px;

}

.filtrerOrder {
    display: flex;
    justify-content: space-evenly;

}

.filtering {
 background-color: hsla(244, 62%, 29%, 0.75);
 color: white;
 padding: 5px 12px 5px 12px;
 border: 1px solid hsla(244, 72%, 25%, 0.75);
 border-radius: 3px;
}

.btnDisabled{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #e7e7e7 5%, #a8a7a7 100%);
	border-radius:3px;
	border:1px solid #dcdcdc;
	color:#a7a5a5;
	font-size:15px;
    width: 120px;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

}