.countries-ctn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flagImg{
    width: 179px;
    margin: 11px;
    opacity: 30%;
}

.flagImg:hover {
    width: 186px;
    opacity: 100%;
}

.input-text {
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 25px;
}