
.Landing {
    background: url('./background.jpg') ;
    min-height: 100%;
    min-width: 1024px;
    
    opacity: 70%;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 10;
    left: 0;
}

.Header {
    color: ivory;
}


.btnEnter{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:10px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}