.flagImg{
    width: 350px;
}

.container{
    display: flex;
    justify-content: space-around;
}

.span{
    
    padding: 10px;
    

}
li{
    color: white;
    font-weight: bold;
    
}
ul {
    list-style:none;
    display: flex;
    color: white;
    font-weight: bold;
    
}

.activities {
    display: flex;
    padding: 20px;
    margin: 20px;
    width: 33%;
    border: 1px solid black;
    background-color: hsla(244, 100%, 17%, 0.596);
    border-radius: 5px;
    
    

}
.activitiesCard{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    
}
 