.flagImg{
    width: 350px;
}

.container{
    display: flex;
    justify-content: space-around;
}

.span{
    font-weight: bold;
    padding: 10px;

}
ul {
    list-style:none;
    display: flex;
}

.activities {
    display: flex;
    padding: 20px;
    margin: 20px;
    width: 33%;
    border: 1px solid black;
    background-color: #767CA5
    

}
.activitiesCard{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    
}
